## 학습 데이터를 바꾸기: 학습 데이터를 학습하기 좋은 형태로 한번 더 전처리
    - 교차검증
    - 스케일링
    - 차원축소

### 교차검증(Cross validation)
    - K-fold
    - Stratified K-fold

In [30]:
import pandas as pd
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [31]:
iris=load_iris()
iris_df=pd.DataFrame(columns=iris.feature_names , data=iris.data)
iris_df['label']=iris.target

In [32]:

X=iris_df.iloc[:,:4]
y=iris_df['label']

X_train,X_test,y_train,y_test =train_test_split(X,y,random_state=42 ,stratify=y)
#DecisionTreeClassifier 객체 생성
model=DecisionTreeClassifier(random_state=42)
model.fit(X_train,y_train,sample_weight=None)

DecisionTreeClassifier(random_state=42)

In [33]:
# k-fold
from sklearn.model_selection import KFold

kf=KFold(n_splits=3,shuffle=False)
for train_index ,text_index in kf.split(X):
    print("----------------------------------")
    print("학습용:", train_index)
    print("\n학습용 레이블:",y[train_index].unique())
    print("\n테스트용:",text_index)
    print("\n테스트용 레이블:",y[text_index].unique())

----------------------------------
학습용: [ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

학습용 레이블: [1 2]

테스트용: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]

테스트용 레이블: [0]
----------------------------------
학습용: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

학습용 레이블: [0 2]

테스트용: [50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73
 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97
 98 99]

테스트용 레이블: [1]
----------------------------------
학습용: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

학습용 레이블: [0 1]

테스트용: [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

테스트용 레이블: [2]

In [34]:
# StratifiedKFold

from sklearn.model_selection import StratifiedKFold

skf= StratifiedKFold(n_splits=3)
for train_index,test_index in skf.split(X,y):
    print('-------------------------------')
    print('학습용:',train_index)
    print("\n 학습용 레이블:",y[train_index].unique())
    print('테스트용:',test_index)
    print("\n 테스트트용 레이블:",y[test_index].unique())

-------------------------------
학습용: [ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  91  92  93  94  95  96  97  98  99 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

 학습용 레이블: [0 1 2]
테스트용: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]

 테스트트용 레이블: [0 1 2]
-------------------------------
학습용: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52
  53  54  55  56  57  58  59  60  61  62  63  64  65  66  83  84  85  86
  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

 학습용 레이블: [0 1 2]
테스트용: [ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]

 테스트트용 레이블: [0 1 2]
-------------------------------
학습용: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  50  51
  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122
 123 124 125 126 127 128 129 130 131 132]

 학습용 레이블: [0 1 2]
테스트용: [ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]

 테스트트용 레이블: [0 1 2]

In [35]:
# cross_validate()

from sklearn.model_selection import cross_validate

scores=cross_validate(model, X_train, y_train , cv=3, return_estimator=True)
scores

{'fit_time': array([0.00099969, 0.00354433, 0.00207067]),
 'score_time': array([0.00204158, 0.00113082, 0.00102067]),
 'estimator': [DecisionTreeClassifier(random_state=42),
  DecisionTreeClassifier(random_state=42),
  DecisionTreeClassifier(random_state=42)],
 'test_score': array([0.92105263, 0.91891892, 0.94594595])}

In [36]:
# 3개의 분류기 평가

for i in range(3):
    score=scores['estimator'][i].score(X_test,y_test)
    print('{0}번째 의사결정나무 정확도:{1:}'.format(i+1,score))

1번째 의사결정나무 정확도:0.8947368421052632
2번째 의사결정나무 정확도:0.8947368421052632
3번째 의사결정나무 정확도:0.9473684210526315

# 스케일 조절(스케일링)

### 1.MinMaxScaler

In [37]:
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df =pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species']= iris.target
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [38]:
from sklearn.preprocessing import MinMaxScaler

minmax_scaler=MinMaxScaler()
minmax_scaler.fit(X)
minmax_scaled_data=minmax_scaler.transform(X)
minmax_scaled_df=pd.DataFrame(data=minmax_scaled_data ,columns=iris.feature_names)
minmax_scaled_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000

- min=0, max=1

In [39]:
from sklearn.preprocessing import StandardScaler

standarad_scaler =StandardScaler()
standarad_scaler.fit(X)
standarad_scaled_data= standarad_scaler.transform(X)
standarad_scaled_df= pd.DataFrame(data=standarad_scaled_data, columns=iris.feature_names)
standarad_scaled_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-1.690315e-15,-1.842970e-15,-1.698641e-15,-1.409243e-15
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00

- mean은 0에 유사, std는 1에 유사